body,
html

body {
    background-color: #565264;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    text-align: center;
    color: #CCB7AE;
}
.card{
    width:28%;
    height: 400px;
    background-color: #CCB7AE;
    color:#565264;
    margin: 25px 0;
    align-content: center;
    text-align: center;
    position: relative;
    box-shadow: 10px 10px #A6808C;
}
.container {
    width: 90w;
    background-color: #706677;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.ee {
    max-width: 90%;
    max-height: 50%;
}
.ed {
    background-color: #A6808C;
    color:#D6CFCB;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 2%;
    border-color: #D6CFCB;
    font-size: 80%;
    width: 60px;
    height: 30px;
    position: absolute;
    bottom: 3%;
    left:48%;
}