body,
html

body {
    background-color: #565264;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    text-align: center;
    color: #CCB7AE;
}


h4, h3, h2 {
    font-size: 16.7px;
}

.ee {
    max-width: 90%;
    max-height: 45%;
}
.ed {
    background-color: #A6808C;
    color:#D6CFCB;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 2%;
    border-color: #D6CFCB;
    font-size: 80%;
    width: 120px;
    height: 30px;
    transition: 0.5s;
    position: absolute;
    bottom: 10%;
    left: calc(50% - 60px);
}
.tri{
    align-content: center;
    text-align: center;
}
.w{
    background-color: #A6808C;
    color:#D6CFCB;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 2%;
    border-color: #D6CFCB;
    font-size: 80%;
    width: 120px;
    height: 30px;
    transition: 0.5s;
}
.card{
    width:28%;
    height: 600px;
    background-color: #CCB7AE;
    color:#565264;
    margin: 25px 0;
    align-content: center;
    text-align: center;
    box-shadow: 10px 10px #A6808C;
    transition: 0.3s;
    position: relative;
}
.container {
    width: 90w;
    background-color: #706677;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.c {
    margin: 15px;
}

.cc, .ci, .cct{
    width: 90w;
    background-color: #9a769b;
    color:#2b293f;
}

.card:hover {
    transform: scale(1.05);
}
.ed:hover, .w:hover, .bo:hover{
    background-color:#c297a6 ;
    color: #565264;
}

@media screen and (max-width: 700px){
    .container {
        flex-direction: column;
        align-content: center;
    }
    .ee {
        max-height: 280px;
        max-width: 280px;
    }
    .card{
        width:90%;
    }

}

.b{
    overflow: hidden;
    background-color: #2b293f;
    padding: 10px 15px;
}

.a {
    float:right;
}

.bo {
    background-color: #A6808C;
    color:#D6CFCB;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 2%;
    border-color: #D6CFCB;
    font-size: 80%;
    width: 120px;
    height: 30px;
    transition: 0.5s;
    position: absolute;
    bottom: 3%;
    left: calc(50% - 60px);
}